<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="../js/vue.js"> </script>
</head>

<body>
    <!-- 
        计算属性：
        1.定义：要用的属性不存在，要通过已有属性计算得来
        2.原理:底层借助了Object。defineproperty方法提供的getter和setter
        3.get函数什么时候执行？
        4.优势：与methods实现相比，内部有缓存机制（复用），效率更高，调试方便
        5.备注：
           1.计算属性最终会出现在vm上，直接读取使用即可
           2.如果计算属性要被修改，那必须写set函数去响应修改，且set中要引起计算时依赖的数据发生
     -->
    <div id="root" type="text/javascript">
        姓:<input type="text" v-model="firstname"><br /><br />
        名:<input type="text" v-model="lastname"><br /><br />
        姓名：<span>{{fullName}}</span>
    </div>
</body>
<script>
    const vm = new Vue({
        el: '#root',
        data: {
            firstname: '张',
            lastname: '三'
        },
        computed: {//计算属性
            // fullName: {
            //     //当有人读取fullName时，get就会被调用，且返回值就作为fullName的值
            //     //get什么时候调用？1。初次读取fullName时。2.所依赖的数据发生变化时。
            //     get() {
            //         return this.firstname + '-' + this.lastname
            //     },
            //     //set什么时候调用？当fullName被修改时
            //     set(value) {
            //         console.log(value, 'value')
            //         const arr = value.split('-')
            //         console.log(arr)
            //         this.firstname = arr[0]
            //         this.lastname = arr[1]
            //     }

            // }
            fullName() {
                //当有人读取fullName时，get就会被调用，且返回值就作为fullName的值
                //get什么时候调用？1。初次读取fullName时。2.所依赖的数据发生变化时。

                return this.firstname + '-' + this.lastname



            }
        }
    })
</script>

</html>